*.egg-info/
.tox
*.pstats
*.swp
.mypy_cache
__pycache__/
/docs/_build/
*.html
/gaussdb_binary/
.vscode
.venv
.coverage
htmlcov
.idea
.pytest_cache
.flake8
.yamllint.yaml

.eggs/
dist/
wheelhouse/
build/
